<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/dist/output.css">

</head>

<body>
    <footer class="mt-20">
        <div dir="rtl">
            <div dir="rtl" class="grid grid-cols-2  md:grid-cols-4 w-full mt-10 bg-zinc-100">
                <div class="text-center mx-auto my-2 p-2">
                    <a href="">
                        <img src="/src/images/original.png" class="h-16 w-16 mx-auto" alt="">
                        <p class="mt-1 text-md font-medium">ضمانت اصل بودن کالا</p>
                    </a>
                </div>
                <div class="text-center mx-auto my-2 p-2">
                    <a href="#">
                        <img src="/src/images/telephone.png" class="h-16 w-16 mx-auto" alt="">
                        <p class="mt-1 text-md font-medium">پشتیبانی حرفه ای ۲۴ ساعته</p>
                    </a>
                </div>
                <div class="text-center mx-auto my-2 p-2">
                    <a href="#">
                        <img src="/src/images/chronometer.png" class="h-16 w-16 mx-auto" alt="">
                        <p class="mt-1 text-md font-medium"> ضمانت بازگشت کالا تا ۷ روز</p>
                    </a>
                </div>
                <div class="text-center mx-auto my-2 p-2">
                    <a href="#">
                        <img src="/src/images/truck.png" class="h-16 w-16 mx-auto" alt="">
                        <p class="mt-1 text-md  font-medium">تحویل در کمترین زمان</p>
                    </a>
                </div>
            </div>


            <!-- second section of footer-->

            <div class="bg-white">

                <div class="border-b border-b-purple-400 pb-20">
                    <div
                        class="container px-5 pt-10 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">

                        <div class="grid grid-cols-2 gap-10  md:grid-cols-4  -mb-10  text-center md:text-right">
                            <div class="w-52 lg:64 px-4">
                                <h2
                                    class="title-font font-bold text-xl text-gray-900  mb-3 border-b border-b-purple-300 pb-5">
                                    با نگارشاپ</h2>
                                <nav class=" mb-10 ">

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300">اتاق خبر
                                        نگارشاپ</a>

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300">فروش در
                                        نگارشاپ</a>

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300">همکاری با
                                        سازمان‌ها</a>

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300">فرصت‌های
                                        شغلی</a>

                                </nav>
                            </div>
                            <div class="w-52 lg:w-64  px-4">
                                <h2
                                    class="title-font font-bold text-xl text-gray-900  mb-3 border-b border-b-purple-300 pb-5">
                                    خدمات مشتریان</h2>
                                <nav class="mb-10">

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300 ">پاسخ به
                                        پرسش‌های متداول</a>

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300">رویه‌های
                                        بازگرداندن
                                        کالا</a>

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300">شرایط
                                        استفاده</a>

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300">حریم خصوصی</a>

                                </nav>
                            </div>
                            <div class="w-52 lg:w-64 px-4">
                                <h2
                                    class="title-font font-bold text-xl text-gray-900  mb-3 border-b border-b-purple-300 pb-5">
                                    راهنمای خرید </h2>
                                <nav class=" mb-10">

                                    <a href="#"
                                        class="block my-2 text-gray-600 hover:mr-1 duration-300 hover:text-gray-900">
                                        نحوه
                                        ثبت سفارش</a>

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300"> رویه خرید</a>

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300">شرایط
                                        استفاده</a>

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300">حریم خصوصی</a>

                                </nav>
                            </div>
                            <div class="w-52  lg:w-64 px-4">
                                <h2
                                    class="title-font font-bold text-xl text-gray-900  mb-3 border-b border-b-purple-300 pb-5">
                                    درباره ما</h2>

                                <nav class=" mb-10">

                                    <a href="#" class="block my-2  text-gray-600 hover:mr-1 duration-300">مکان دقیق
                                        فروشگاه</a>

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300">تماس با ما</a>

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300 "> گزارش
                                        شکایات</a>

                                    <a href="#" class="block my-2 text-gray-600 hover:mr-1 duration-300">خرید حضوری</a>

                                </nav>
                            </div>
                        </div>
                    </div>

                </div>

            </div>



            <div class="container mx-auto my-5">
                <!-- searchBox and introduction -->
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 py-10 px-10 ">
                    <div class="">
                        <div>
                            <!-- Brand -->
                            <div class="h-max w-max">
                                <img src="/src/images/logo.png" alt="">
                            </div>

                            <p class="mt-6 block tracking-wider text-gray-600 text-justify">
                                دیجی‌کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه
                                تجربه، با پایبندی به سه اصل کلیدی، پرداخت در محل، 7 روز ضمانت بازگشت کالا و
                                تضمین اصل‌بودن کالا، موفق شده تا همگام با فروشگاه‌های معتبر جهان، به
                                بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود. به محض ورود به دیجی‌کالا با یک
                                سایت پر از کالا رو به رو می‌شوید!
                            </p>
                        </div>
                    </div>

                    <div>
                        <form class="w-max">
                            <label for="email" class="font-bold text-xl text-gray-900"> خبرنامه </label>
                            <h5 class="block py-5 text-gray-600 "> با عضویت در خبرنامه از آخرین اخبار و
                                محصولات سایت مطلع شوید...</h5>
                            <div class="p-1  sm:flex sm:items-center rounded-md">
                                <input
                                    class="w-max md:w-80 md:flex md:justify-center h-12 p-2 rounded-xl text-gray-700 bg-gray-100 shadow-lg  focus:shadow-lg focus:outline-none focus:ring-opacity-40  duration-300"
                                    type="email" id="email" placeholder="آدرس ایمیل" />

                                <button
                                    class="w-32 mr-10 sm:mr-10 text-white h-12 px-6 py-3 bg-purple-500 hover:bg-white hover:text-purple-500 hover:border hover:border-purple-500 duration-500 rounded-md sm:ml-2"
                                    type="submit">
                                    عضوم کن
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- copyright section -->
            <div class="text-white relative pb-1 mt-12 border-t  border-purple-400">
                <div class="flex justify-center">
                    <p class="absolute top-3 text-sm text-center text-gray-400 lg:text-left">
                        Copyright &copy; فروشگاه نگارشاپ ، تمامی حقوق این سایت محفوظ است.
                    </p>

                </div>
            </div>
        </div>
    </footer>
</body>

</html>