<section>
    <div class=" h-screen bg-zinc-100 py-20 px-3">
        <div class="container mx-auto">
            <div class="w-96 mx-auto">
                <div class="w-full">
                    <div class="bg-white h-max w-full shadow-lg py-3 rounded-lg text-center">
                        <img src="/src/images/otpImage.png" class="h-48 w-48 mx-auto my-6" alt="">
                        <div class=" rounded-md py-2 mx-5 my-2 font-bold text-xl">
                            <h1>
                                کد تایید
                            </h1>
                            <p class="text-sm my-2">
                                کد تایید ارسال شده به <a class="">۰۹۳۶۵۲۲۷۷۶۰</a> را وارد کنید
                            </p>
                        </div>
                        <div class="flex flex-col">
                            <div id="otp" class="flex flex-row justify-center text-center px-2 mt-5">
                                <input
                                    class="m-2 bg-gray-200 border-b-2 border-b-purple-500 h-10 w-10 text-center shadow-md rounded outline-none"
                                    type="text" id="first" maxlength="1" /> <input
                                    class="m-2 bg-gray-200 border-b-2 border-b-purple-500 h-10 w-10 text-center shadow-md rounded outline-none"
                                    type="text" id="first" maxlength="1" /> <input
                                    class="m-2 bg-gray-200 border-b-2 border-b-purple-500 h-10 w-10 text-center shadow-md rounded outline-none"
                                    type="text" id="first" maxlength="1" /> <input
                                    class="m-2 bg-gray-200 border-b-2 border-b-purple-500 h-10 w-10 text-center shadow-md rounded outline-none"
                                    type="text" id="first" maxlength="1" /> <input
                                    class="m-2 bg-gray-200 border-b-2 border-b-purple-500 h-10 w-10 text-center shadow-md rounded outline-none"
                                    type="text" id="first" maxlength="1" /> <input
                                    class="m-2 bg-gray-200 border-b-2 border-b-purple-500 h-10 w-10 text-center shadow-md rounded outline-none"
                                    type="text" id="first" maxlength="1" />
                            </div>
                            <div class="flex justify-center text-center mt-5">
                                <h3 class="text-sm">
                                    کد را دریافت نکردید؟ <a href="#" class="text-purple-400 text-md">ارسال مجدد</a>
                                </h3>
                            </div>
                            <button type="submit"
                                class="block mx-3 py-2 my-2 text-lg font-bold text-white border border-purple-500 bg-purple-500 hover:bg-white hover:text-purple-500 rounded-lg duration-300">
                                تایید کد
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>