<div
                                        class="max-w-xs mx-auto overflow-hidden bg-white rounded-lg shadow-lg cursor-pointer">
                                        <!-- image of product here -->
                                        <img class="object-cover w-full h-52  p-2"
                                            src="/src/images/digi-product4.png" alt="">
                                        <!-- product name HERE -->
                                        <div class="p-1 border-b border-b-purple-500">
                                            <h1
                                                class=" font-bold text-gray-800 text-center dark:text-white">
                                                پرینتر اچ پی 
                                            </h1>
                                        </div>
                                        <!-- product price and OFFPRICE HERE -->
                                        <div
                                            class="flex lg:block lg:text-center items-center justify-between bg-white m-1">

                                            <h1
                                                class="mx-auto text-xs md:text-md lg:text-lg font-bold text-purple-800">
                                                ۴,۶۳۰,۰۰۰ تومان</h1>
                                            <!-- add to cart on mobile screen here -->
                                            <a href="#" class="flex lg:hidden">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="h-7 w-7 text-white p-1 bg-purple-700 rounded-lg"
                                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                                </svg>
                                            </a>
                                            <!-- add to cart on desktop screen here -->
                                            <a href="#"
                                                class="mx-auto hidden w-32 lg:flex text-md text-white hover:text-purple-500  bg-purple-500 hover:bg-white border border-purple-500 rounded-lg p-1 cursor-pointer duration-300">
                                                <p class="mx-auto flex">
                                                    خرید محصول
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        class="h-7 w-7 p-1 rounded-lg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                                    </svg>
                                                </p>
                                            </a>
                                        </div>
                                    </div>